extends layout

block nav-clients
  li.active
    a(href="/clients.html") Customers

block body
  .row-fluid
    .page-header
      h1 Customers
      span See who trusted us.
      
  .row.margin-top4
    .offset1.span2.padding-top3
      a(href="http://ncdc.eu", target="_blank")
        img(src="http://www.ncdc.eu/wp-content/themes/ncdc-2010/images/logo.png")

    .offset1.span2
      a(href="http://tieto.pl", target="_blank")
        img(src="http://www.tieto.pl/img/new-logo-top-tieto.png",style="background-color:black; border: solid 1px black;")

    .offset1.span2.padding-top3
      a(href="http://softline.com.pl", target="_blank")
        img(src="http://softline.com.pl/grafika/logo.png")

    .offset1.span2.padding-top3
      a(href="http://teonite.pl", target="_blank")
        img(src="http://teonite.pl/_img/teoniteLOGO.png",style="background-color:black;padding:5px;")

  .row.margin-top5
    .offset1.span2.padding-top3
      a(href="http://www.softhis.com", target="_blank")
        img(src="http://www.softhis.com/interactive/img/logo.png")

    .offset1.span2.padding-top3
      a(href="http://optimalbits.com", target="_blank")
        img(src="http://optimalbits.com/images/logo.png")

    .offset1.span2
      a(href="http://armacsystems.com", target="_blank")
        img(src="http://armacsystems.com/images/Armac_web.gif")

    .offset1.span2.padding-top3
      a(href="http://www.btc.com.pl", target="_blank")
        img(src="http://www.btc.com.pl/images/logo.gif")

  .row.margin-top5
    .offset1.span2
      a(href="http://www.baroosoftware.com", target="_blank")
        img(src="http://www.baroosoftware.com/images/baroo-software-logo.png")