extends layout

block nav-contact
  li.active
    a(href="/contact.html") Contact

block body
  .row-fluid
    .page-header
      h1 Contact
      span How to contact with us.


  .row-fluid.padding-left5
    .span3
      .well.no-background.silver-border(style="height:235px")
        h3.margin-top1 AID SYSTEMS
        h4.margin-top1 Address
        p.padding-left2
          | ul. Arkońska 14/17<br />
          | 71-470, Szczecin,
          | Poland<br />

        h4.margin-top1 VAT no
        p.padding-left2
          | PL8512781341

        h4.margin-top1 Account no
        p.padding-left2
          | PL 50 1020 5558 1111 1396 0310 0012
        h4.margin-top1 CEO
          p.padding-left2
            | Marcin Kawelski

    .span3
      .well.no-background.silver-border(style="height:235px")
        h4.margin-top4 E-mail
        p.padding-left2
          a(href="mailto:office@aid-systems.com") office@aid-systems.com
        h4.margin-top2 Phone
        p.padding-left2
          a(href="tel:+48505773912") +48 505 773 912
        h4.margin-top2 Twitter
        p.padding-left2
          a(href="https://twitter.com/aid_systems") @aid_systems
        h4.margin-top2 V-card
        p.padding-left2
          a(href="contact.vcf",type="text/vcard") v-card

    .span3
      .well.no-background.silver-border(style="height:235px; text-align: center;")
        img(src="qrcode.png")