extends layout

block nav-home
  li.active
    a(href="/") Home
block body
  .row-fluid
    .span4.margin-top2
      .well.height5
        a(href="/products.html")
          h2 Products
        p We provide wide branch of services including

    .span4.margin-top2
      .well.height5 AID SYSTEMS 2
    .span4.margin-top2
      .well.height5 AID SYSTEMS 2
  .row-fluid
    .span4.margin-top2
      .well.height5 AID SYSTEMS 2
    .span4.margin-top2
      .well.height5 AID SYSTEMS 2
    .span4.margin-top2
      .well.height5 AID SYSTEMS 2