!!! 5
html
  head
    block head
      link(rel='stylesheet', href='/css/bootstrap.css')
      link(rel='stylesheet', href='/css/bootstrap-responsive.css')
      link(rel='stylesheet', href='/css/default-0.1.css')
      script(type='text/javascript',src='/js/jquery.min.js')
      script(type='text/javascript',src='/js/bootstrap.min.js')

  body
    #top-menu.navbar.navbar-fixed-top(style='background-color: rgba(0,0,0,0.8);')
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse)
            span Menu
          a.brand(href="/")
            #brand_logo
              #logo AID Systems
              #tagline Web easy to use
          .nav-collapse.collapse
            ul.nav
              block nav-home
                li
                  a(href="/") Start
              block nav-services
                li
                    a(href="/services.html") Services
              block nav-products
                li
                  a(href="/products.html") Products
              block nav-clients
                li
                  a(href="/clients.html") Customers
              block nav-contact
                li
                  a(href="/contact.html") Contact

    #footbar.navbar.navbar-fixed-bottom(style='background-color: rgba(0,0,0,0.8);')
      .navbar-inner
        div.container.padding-top1
          span All rights reserved.

    #main-content.container-fluid
      block body