extends layout

block nav-products
  li.active
    a(href="/products.html") Products

block body
  .row-fluid
    .page-header
      h1 Products
      span Upgrade your website fast and easy.
      
  .row-fluid.padding-left3
    h1 WebUI Intelligence&trade;
    p.padding-left3.padding-top1
      em Family of products,
        | which are targeted to improve your website in extremely easy way.<br />
        | Although our products are still under development, we are working very hard
        | to achieve following goals:

    .span5.margin-top1
      h4.margin-top1 Facilitate website navigation
      p.indented.padding-top1
        | Our software facilitate website navigation by many
        | features like visited pages search, shortcuts, highlights,
        | contextual bookmarks and navigation automation. It will
        | increase every website usability.

      h4.margin-top1 Customize website behaviour
      p.indented.padding-top1
        | Make more customizable website in intelligent way.
        | Visitors common behaviour can be discovered and used to do
        | website changes like: more useful menus, most interesting data first
        | or some other layout and design changes.

      h4.margin-top1 Easy google services integration
      p.indented.padding-top1
        | Your website can be easy integrated with google services.
        | F.g. Any date on your website can be added as new event in visitors calendar
        | or any word or sentence can be translated with google translator.

    .span5.margin-top1
      h4.margin-top1 Enable website for mobile devices
      p.indented.padding-top1
        | Most of websites are not suitable for mobile devices.
        | Our products solve common mobile devices problems automatically.

      h4.margin-top1 Learn from visitors
      p.indented.padding-top1
        | The best way to know if your website satisfies your visitors is to let them
        | tell you or show you their suggestions. Learn from them to improve your website and
        | your business.

      h4.margin-top1 Fast and easy integration
      p.indented.padding-top1
        | Our software is easy to integrate with any website.
