extends layout

block nav-services
  li.active
    a(href="/services.html") Services

block body
  .row-fluid
    .page-header
      h1 Services
      span See what we can do for you
  .row
    .offset2.span3.margin-top2
      .well.height7 Consulting
    .span3.margin-top2
      .well.height7 Tests and audits
    .span3.margin-top2
      .well.height7 Development

